[submodule "plugins/alias-tips"]
	path = plugins/alias-tips
	url = https://github.com/djui/alias-tips.git
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "plugins/zsh-nvm"]
	path = plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
